body {
    background-color: #f3f3f3;
}
.header {
    margin: -8px;
    background-image: url("back2.jpg");
    border-bottom: 5px solid grey;
    background-repeat: no-repeat;
    height: 720px;
    background-size: 1320px;
}
.nav{
    padding: 7px;
    text-align: right;
}
.nav a{
    text-decoration: none;
    color: black;
    font-size: 31px;
    margin-right:15px ;
}
.header-text{
    margin-top: 60px;
    font-size: 200px;
    text-align: center;
    width: auto;
}
.navigation{
    border-radius: 100%;
    height: 47px;
    width: 47px;
    background-color: rebeccapurple;
    position: fixed;
    bottom: 25px;
    left: 550px;
    opacity: .5;
}
.navigation:hover{
    opacity: 1;
}
.information{
    width: 1060px  ;
    height: 300px;
    margin-left: 50px;
    padding-top: 70px;
    padding-left: 20px;
    font-size: 30px;
    font-family: Nunito Sans;
    text-align: justify;
}
.cards{
    display: flex;
    margin:0;
    padding: 1px 35px;
}
.card {
    width: 350px;
    height: 500px;
    border: 1px solid black;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 #070707;
}
.card_img{
    width: 350px;
    height: 210px;
    object-fit: cover;
}
.card_imj{
    width: 350px;
    height: 210px;
    object-fit: cover;
    object-position: top -20px;
}
.card_content{
    height: 290px;
    padding: 25px;
    box-sizing: border-box;
}
.card:hover{
    background-color: #eeeae7;
    transition: 1.2s;
}
.info{
    height: 100%;
    font-family: Nunito Sans;
}
.card_name{
    font-size: 20px;
    height: 50px;
    font-weight: bold;
}
.card_year{
    font-size:17px;
    margin-top: 15px;
    margin-bottom: 25px;
    opacity: 0.7;
}
.info_content{
    display: flex;
}
.mileage{
    width: 50%;
    font-size: 14px;
    opacity: 0.7;
}
.owners{
    font-size: 14px;
    opacity: 0.7;
}
.info_value{
    display: flex;
    margin-top: 10px;
}
.mileage_value{
    width: 50%;
    font-size:17px;
    font-weight: bold;
}
.owners_value{
    font-size:17px;
    font-weight: bold;
}
.price{
    font-size: 32px;
    text-align: right;
    font-weight: bold;
    margin-top: 44px;
    font-family: DM Serif Display;
}
.cards a{
    text-decoration: none;
    color: black;
}
.footer {
    height: 270px;
    width: 1120px;
    padding-left: 55px;
    padding-right: 60px;
    margin-top: 100px;
    border-top: 2px solid grey;
    display: flex;
    padding-bottom: 70px;
    font-family: Nunito Sans;
    background-color: white;
}
.logo{
    display: flex;
    width: 220px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 70px;
}
.footer_logo{
    width: 250px;
    height: 240px;
    position: relative;
    top: -20px;
}
.phone{
    height: 70px;
    position: relative;
    top: -40px;
}
.phone_text{
    font-size: 16px;
    opacity: 0.7;
}
.number{
    text-decoration: none;
    color: black;
    font-size: 23px;
    font-weight: bolder;
}
.footer_info{
    width: 450px;
    text-align: left;
    padding: 50px;
    margin-left: 170px;
}
.confidentiality{
    font-size: 23px;
    font-weight: bolder;
}
.developer{
    margin-top: 70px;
    font-size: 23px;
    font-weight: bolder;
}
.i_am{
    font-size: 16px;
    color: rebeccapurple;
}
.info_footer{
    width: 450px;
    text-align: left;
    padding: 70px;
}
.info_footer a{
    text-decoration: none;
    color: black;
}
.info_footer a:hover{
    color: blue;
}
.information_head{
    font-size: 23px;
    font-weight: bolder;
    margin-bottom: 15px ;
}
.cooperation{
    font-size: 16px;
    opacity: 0.7;
}
.reviews{
    font-size: 16px;
    opacity: 0.7;
}
.about_us{
    font-size: 16px;
    opacity: 0.7;
}
